
@{
    ViewBag.Title = "Yeni Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Yeni Kullanıcı Ekle</h2>
</div>

<form action="Create" method="post">
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="userName" class="col-sm-2 form-control-label">Kullanıcı Adı :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Kullanıcı Adı">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="password" class="col-sm-2 form-control-label">Şifre :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="password" name="password" placeholder="Şifre">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="name" class="col-sm-2 form-control-label">Ad :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Ad">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="soyad" class="col-sm-2 form-control-label">Soyad :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="soyad" name="soyad" placeholder="Soyad">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="pozisyon" class="col-sm-2 form-control-label">Pozisyon :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pozisyon" name="pozisyon" placeholder="Pozisyon">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Kaydet </button> <a href="/User/Index" class="btn btn-primary">Geri Dön</a>
</form>
