@model IEnumerable<ProjectMan.Models.Task>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Tasks</h2>
</div>
<p>
    <a href="/Task/Create" class="btn btn-primary"> New Task</a>
    
</p>
<table class="table datatable">
    <thead>
        <tr>
            <th>
                Task Name
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="text-align: right">
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.id }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>

</table>